html, body{
    /* background-color:sandybrown;  */
    margin: 0;
    padding: 0;                  
}

html {
    font-size:10px;
    background: linear-gradient(133deg,
        rgba(235,217,181,1) 20%, 
        rgba(236,105,165,1) 50%,
        rgba(89,232,247,1) 100%);
}

body {
    width: 80vw;
    min-width: 800px;
    margin: 0 auto;
    height: 100vh;
}

/* Typography */

h1, h2 {
    font-family: 'Raleway', sans-serif;
    color: #2a2a2a;
    /*       #RRGGBB */
}

p, li{
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;

}

/* HEADER */
header {
    margin-bottom: 10px;
}

main, header, nav, article, footer, section {
    background-color: rgba(255,255,255,.2);
    padding: 1%
}
